ॐ श्री गणेशाय नमः

In [1]:
import pandas as pd

In [2]:
text = pd.read_csv("text_data.csv", encoding= 'unicode_escape', index_col = [0])

In [3]:
text

                                            Message_body     Label
S.No.
1      UpgrdCentre Orange customer, you may now claim...      Spam
2      Loan for any purpose £500 - £75,000. Homeowner...      Spam
3      Congrats! Nokia 3650 video camera phone is you...      Spam
4      URGENT! Your Mobile number has been awarded wi...      Spam
5      Someone has contacted our dating service and e...      Spam
...                                                  ...       ...
121    7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
122    Try to do something dear. You read something f...  Non-Spam
123    Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
124    SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
125    Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[125 rows x 2 columns]

In [4]:
import time

def rand_val(x):

    random=int(time.time()*1000)

    random %= x

    return random

x=int(input())

print(rand_val(x))

100
45

In [5]:
from time import time
import math
def time_random():
    return time() - float(str(time()).split('.')[0])
print(time_random())
def gen_random_range(min, max):
    return int(time_random() * (max - min) + min)

gen_random_range(50,56)

0.4665076732635498

52

In [6]:
import math
for i in range(10):
    for j in range(math.exp(10)):
        time_random()
    print(gen_random_range(9,9999),end=',')

6502,8340,9998,1622,4065,5490,7404,9167,978,3350,

In [7]:
from datetime import datetime
str(datetime.now()).split(',')

['2022-04-08 18:29:48.344382']

In [9]:
from math import acos
pi = round(2 * acos(0.0), 2)

In [10]:
pi

3.142

In [12]:
import math
from math import acos
for i in range(10):
    for j in range(int(math.exp(10))):
        time_random()
    pi = round(2 * acos(0.0), 2)
    print(pi)

3.14
3.14
3.14
3.14
3.14
3.14
3.14
3.14
3.14
3.14